@import './variables';

@mixin container() {
    padding: 1rem 20rem;
    @include media(b) {
        padding: 1rem 10rem;
    }
    @include media(smb) {
        padding: 1rem 5rem;
    }
    @include media(md) {
            
    }

    @include media(sm) {
        padding: 1rem 1rem;
    }
}

@mixin price {
    height: 100px;
    width: 300px;
    background: $color-white;
    display: flex;
    padding: 1rem;
    justify-content: center;
    flex-direction: column;
    color: $color-black;

    > h3 {
        font-size: 32px;
        font-weight: 600;
    }

    > p {
        font-size: 18px;
        font-weight: 500;
    }

    @include media(vsm) {
        width: 200px;
        height: 80px;

        > h3 {
            font-size: 22px;
        }

        > p {
            font-size: 11px;
        }
    }
}