@import '../assets/mixins';

.fast {

    @media screen and (max-width: 1600px) {
        display: none;
    }
    &__container {
        @include container;
        margin-bottom: 5rem;
        > h2 {
            margin-bottom: 1rem;
        }

        &__photo {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            > img {
                width: 100%;
            }

            > p {
                position: absolute;
                background: $color-white;
                padding: 0.5rem;
                color: $color-black;
                font-weight: 600;
                font-size: 16px;
                box-shadow: $box-shadow;

                &::before {
                    content: '';
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    background: $color-white;
                    border-radius: 50%;
                    border: 5px solid  $color-primary; 
                    bottom: -3rem;
                    right: 0;

                    animation: pulse 1.5s infinite;
                }
            }

            > p:nth-child(2) {
                display: block;
                top: 18rem;
                left: 10rem;
            }
            > p:nth-child(3) {
                display: block;
                top: 10rem;
                left: 42rem;
            }
            > p:nth-child(4) {
                display: block;
                top: 20rem;
                left: 60rem;
            }
            > p:nth-child(5) {
                display: block;
                top: 34rem;
                left: 29em;
            }
            > p:nth-child(6) {
                display: block;
                top: 30rem;
                left: 50rem;
            }
        }
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba($color-primary, 0.7);
      }
      70% {
          box-shadow: 0 0 0 5px rgba($color-primary, 0.4);
      }
      100% {
          box-shadow: 0 0 0 0 rgba($color-primary, 0);
      }
    }

